/*清除无名杀默认样式*/
.PSdiv {
  display: block;
  position: unset;
  transition: unset;
}

/* @font-face {
  font-family: 'wenq.ttf';
  src: url("../font/wenq.ttf");
} */

/*交流群样式*/
.PSjiaqun {
  display: grid;
  width: 248px;
  margin: 0 auto;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.8s ease-in-out;
}

.PSjiaqun .PSjiaqun-content {
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid gray;
}

/*启动页美化选项样式*/
.PSselect-item {
  width: 288px;
  height: 162px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid gray;
  padding-top: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*点我加群，已弃用*/
.PSjoinUs {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 8px 15px;
  border: 1.5px solid #fff;
  border-radius: 100px;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 600%;
  animation: ff 13s linear infinite;
}

.PSjoinUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 600%;
  border-radius: 100px;
  z-index: -1;
  filter: blur(20px);
}

@keyframes ff {
  from {
    background-position: 0;
  }

  to {
    background-position: 600%;
  }
}

/*唱片和唱针样式*/
.PSmusic-container {
  position: relative;
  width: 138px;
  height: 138px;
  vertical-align: text-top;
  margin-left: -20px;
}

.PSmusic-container .PSneedle {
  position: absolute;
  width: 251px;
  height: 409px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.16);
  margin-top: -80px;
  z-index: 3;
}

.PSmusic-container .PSrecord-box {
  position: absolute;
  width: 138px;
  height: 138px;
  animation: rot 15s linear infinite;
  transform-origin: center center;
  /*   transform: scale(0.5);
  transform-origin: left top; */
}

.PSmusic-container .PSrecord-box .PSrecord {
  position: absolute;
  width: 206px;
  height: 206px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.67);
  /* background: url(./coverall.png) no-repeat -140px -580px; */
  z-index: 2;
}

.PSmusic-container .PSrecord-box .PSrecord-img {
  position: absolute;
  width: 137px;
  height: 137px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.67);
  /* background: url(./1.jpg) no-repeat 0 0/cover; */
  z-index: 1;
}

@keyframes rot {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 180deg;
  }

  100% {
    rotate: 360deg;
  }
}
